{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}

<div class="row">
    <h2 class="text-center">Créer une declaration  </h2>
    <div class=" col-10 offset-1">
        <div class="card mb-3">
            <div class="row g-0">


                <div class="col-md-9">
                    <div class="card-body">
{#                        <h5 class="card-title ps-3">{{ declaration.dateHeureD }}</h5>#}
                        {{ form_start(form) }}
                        <div class="row mt-6">
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <div class="row">
                                        <div class="col-6">{{ form_widget(form.dateHeureD.date) }}</div>
                                        <div class="col-5">{{ form_widget(form.dateHeureD.time) }}</div>
                                    </div>

                                    <li class="list-group-item">{{ form_row(form.infoSupp) }}</li>
                                    <li class="list-group-item">{{ form_row(form.secteurs) }}</li>
                                        <li class="list-group-item">{{ form_row(form.commune) }}</li>


                                </ul>
                            </div>
                            <div class="col-6">
{#                                <ul class="list-group list-group-flush">#}
{#                                    <li class="list-group-item">{{ form_row(form.collier) }}</li>#}
{#                                    <li class="list-group-item">{{ form_row(form.typeColliers) }}</li>#}
{#                                    <li class="list-group-item">{{ form_row(form.croisements) }}</li>#}
{#                                    <li class="list-group-item">{{ form_row(form.silhouettes) }}</li>#}
{#                                    <li class="list-group-item">{{ form_row(form.tailles) }}</li>#}
{#                                    <li class="list-group-item">{{ form_row(form.poils) }}</li>#}
{#                                    <li class="list-group-item">{{ form_row(form.couleurs) }}</li>#}
{#                                </ul>#}


                            </div>
                        </div>
                        <div class="mt-3 text-center">
                            {#                                    <button class="btn btn-success btn-lg me-5">Enregistrer</button>#}
                            <button class="btn">{{ button_label|default('Save') }}</button>
                            <a href="{{ path('main_home') }}" class="btn btn-outline-secondary btn-lg">Retour</a>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">

        </div>
    </div>
</div>

