{% extends 'base.html.twig' %}

{% block title %}Nouvelle déclaration{% endblock %}

{% block body %}
    <div id="app">
        {% verbatim %}
    <div class="modal fade" id="newSecteur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un secteur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input v-model="newSecteur.nom" type="text" class="form-control" id="name" secteurholder="Nom du secteur" required>
                        <label for="nom">Nom du secteur</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select v-model="newSecteur.commune" id="commune" class="form-select" v-model="selectedCommune" @change="filter(selectedCommune)" required>
                            <option v-for="commune in communes" v-bind:value="commune">{{ commune.nom }}</option>
                        </select>
                        <label for="commune">Commune</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input v-model="newSecteur.adresse" type="text" class="form-control" id="adresse" secteurholder="Adresse" required>
                        <label for="name">Adresse</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" @click="postSecteur()" data-bs-dismiss="modal">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
        <div class="col-10 offset-1">
            <h2>Créer une déclaration</h2>
            {{ form_start(form) }}
            <div class="row mt-5">
                <div class="col-6">
{#                    <div class="form-floating mb-3">#}
{#                        {{ form_widget(form.name) }}#}
{#                        <label for="name">{{ form_label(form.id) }}</label>#}
{#                        {{ form_errors(form.name) }}#}
{#                    </div>#}
                    <div class="row">
                        <div class="col-6">
                            {{ form_label(form.dateHeureD) }}
                            <div class="row">
                                <div class="col-7">{{ form_widget(form.dateHeureD.date) }}</div>
                                <div class="col-5">{{ form_widget(form.dateHeureD.time) }}</div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-floating mb-3">
                                {{ form_widget(form.infoSupp,{'attr':{'style':'height:150px'}}) }}
                                <label for="name">{{ form_label(form.infoSupp) }}</label>
                                {{ form_errors(form.infoSupp) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
{#                    <div class="form-floating mb-3">#}
{#                        {{ form_widget(form.secteurs) }}#}
{#                        <label for="name">{{ form_label(form.secteurs) }}</label>#}
{#                    </div>#}
                    <div class="row">
                        {% verbatim %}
                    <div class="col-5">
                        <div class="form-floating mb-3">
                             <select id="commune" class="form-select" v-model="selectedCommune" @change="filter(selectedCommune)">
                            <option v-for="commune in communes" v-bind:value="commune">{{commune.nom}}</option>
                            </select>
                             <label for="city">Commune</label>
                        </div>
                    </div>
                <div class="col-5">
                    <div class="form-floating mb-3">
                        <select id="secteur" class="form-select" v-model="selectedSecteur" @change="log(selectedSecteur)" required>
                            <option v-for="secteur in selectedSecteurs" v-bind:value="secteur">{{secteur.nom}}</option>
                        </select>
                        <label for="secteur">Secteur</label>
                    </div>
                </div>
                <div class="col-2 pt-2">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#newSecteur"><i class="fa fa-plus"></i></button>
                </div>
               <div v-if="secteurId">
                {% endverbatim %}
                        <div class="col-6 d-none">
                            <div class="form-floating mb-3">
                                {{ form_widget(form.secteurs, {'attr':{'v-model':'secteurId'}}) }}
                                <label for="nom">{{ form_label(form.secteurs) }}</label>
                            </div>
                        </div>

                        {% verbatim %}
                </div>
                <div class="col-12">
                <div class="card" v-if="selectedSecteur">
                    <div class="card-body">
                        <h5 class="card-title text-center">Localisation : {{selectedSecteur.nom}}</h5>
                    </div>
                    <ul class="list-group list-group-flush px-5 py-1">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    Adresse :
                                </div>
                                <div class="col-8">
                                    {{selectedSecteur.adresse}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    Code Postal :
                                </div>
                                <div class="col-8">
                                    {{selectedSecteur.commune.codePostal}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    Longitude :
                                </div>
                                <div class="col-8">
                                    {{selectedSecteur.longitude}}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    Latitude :
                                </div>
                                <div class="col-8">
                                    {{selectedSecteur.latitude}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
                {% endverbatim %}

                    </div>
                </div>
                <div class="form-error">
                    {{ form_errors(form) }}
                </div>
                <div class="text-center d-flex justify-content-center my-3">
                    <button name="creer" class="btn btn-outline-success" value="true">Créer</button>

                    <a href="{{ path('main_home') }}" class="btn btn-outline-secondary">Annuler</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}