{% extends 'base.html.twig' %}

{% block title %}Declaration{% endblock %}

{% block body %}
    <h1>Declaration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ declaration.id }}</td>
            </tr>
            <tr>
                <th>DateHeureD</th>
                <td>{{ declaration.dateHeureD ? declaration.dateHeureD|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>InfoSupp</th>
                <td>{{ declaration.infoSupp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('main_home') }}">back to list</a>

    <a href="{{ path('app_declaration_edit', {'id': declaration.id}) }}">edit</a>

    {{ include('declaration/_delete_form.html.twig') }}
{% endblock %}
