{% extends 'base.html.twig' %}

{% block title %} MainController!{% endblock %}

{% block body %}

<p><small>
        <center>Vous avez perdu votre animal? fait vite une déclatation. si vous avez trouvé,
            aperçu un animal ? fait un signalement
        </center>
    </small></p>

{#    {% include 'Modules/alert.html.twig' %} #}
    {% for message in app.flashes('success') %}
        <div class="position-fixed p-3" style="z-index: 1000; top: 80px;right: 50px">
            <div class="alert alert-success">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="position-fixed p-3" style="z-index: 1000; top: 80px;right: 50px">
            <div class="alert alert-warning">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="position-fixed p-3" style="z-index: 1000; top: 80px;right: 50px">
            <div class="alert alert-danger">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}

<div class="row ">

    <div class="col-3 my-5 bg-dark text-light p-4">
        <h3>Filter les declarations</h3>
        {{ form_start(formSearch) }}
        <div class="row">
            <div class="col-lg-9">
                {{ form_row(formSearch.secteurs) }}
            </div>
        </div>

        <div class="col-2 align-self-center">
            <button type="submit" class="btn btn-dark btn-lg">Rechercher</button>
        </div>
        {{ form_end(formSearch) }}

    </div>

    <div class="col-lg-3 my-5">

        {% for signalement in signalements %}
            <div class="card mb-1" style="max-width: 540px;">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">
                            {{ signalement.auteur}}</small>
                    </p>
                    <p class="card-text"><small
                                class="text-muted"> Le
                            {{ signalement.dateHeure ? signalement.dateHeure|date('Y-m-d') : '' }}
                            A {{ signalement.dateHeure ? signalement.dateHeure|date('H:i') : '' }}</small>
                    </p>
                    <p class="card-text"><small class="text-muted">
                            {{ signalement.message}}</small>
                    </p>

                </div>

            </div>


        {% endfor %}
    </div>

    <div class="col-lg-6 my-5">
{#        <div class="row">#}

            {#                AFFICHAGE SOUS FORME DES CARTES#}
            {#                {% for declaration in declarations %}#}
            {#                <div class="card mb-3" style="max-width: 540px;">#}
            {#                    <div class="row g-0">#}
            {#                        <div class="col-md-3">#}
            {#                            <img src="{{ asset('img/logo.jpg') }}" class="img-fluid rounded-start"                            alt="...">#}
            {#                        </div>#}
            {#                        <div class="col-lg-md-6">#}
            {#                            <div class="card-body">#}

            {#                                <h5 class="card-title"><a href="{{ path('app_annonce_edit',{id: declaration.animaux.id}) }}">{{ declaration.animaux.nom }}</a></h5>#}
            {#                                <p class="card-text"><small#}
            {#                                            class="text-muted">{{ declaration.animaux.races.especes }}#}
            {#                                        perdu le#}
            {#                                        {{ declaration.dateHeureD ? declaration.dateHeureD|date('Y-m-d') : '' }}#}
            {#                                        A {{ declaration.dateHeureD ? declaration.dateHeureD|date('H:i') : '' }}</small>#}
            {#                                </p>#}


            {#                                <p class="card-text"><small class="text-muted">#}
            {#                                        Nom  : {{ declaration.animaux.nom }}<br>#}
            {#                                        Sexe : {{ declaration.animaux.sexe }}<br>#}
            {#                                        Race : {{ declaration.animaux.races }}<br>#}
            {#                                    </small></p>#}

            {#                                <p class="card-text"><big class="text-muted">#}
            {#                                <span class="badge#}
            {#                                {% if declaration.etats.libelle == 'Recherche abondonnée' %}#}
            {#                                    bg-danger#}
            {#                                {% elseif declaration.etats.libelle == 'Recherche en cours' %}#}
            {#                                    bg-primary#}
            {#                                {% elseif declaration.etats.libelle == 'Archivée' %}#}
            {#                                    bg-warning#}
            {##}
            {#                                {% elseif declaration.etats.libelle == 'Trouvé' %}#}
            {#                                    bg-success#}
            {##}
            {#                                {% endif %}">{{ declaration.etats.libelle }}</span>#}
            {#                                        </big></p>#}

            {#                                <a href="{{ path('app_annonce_show', {id: declaration.id}) }}"#}
            {#                                   class="btn btn-primary">Detail</a>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}

            {#                </div>#}
            {#                {% endfor %}#}

            <table class="text-center table table-hover table-light table-striped align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Date de la disparition</th>
                    <th>Sexe</th>
                    <th>Race</th>
                    <th>Etat</th>
                    <th>Nom du proprietaire </th>
                </tr>
                </thead>
                <tbody>
                {% for d in declarations %}
                    {% if not ((d.etats.libelle == 'Créée')and(app.user != o.user)) %}

                        <tr style="height:70px  ">
                            <td><a href="{{ path('app_annonce_detail_animal',{id:d.id}) }}">{{ d.animaux.nom }}</a></td>
                            <td>
                                <div class="row g-0">
                                    <div class="col-6">
                                        {{ d.dateHeureD ? d.dateHeureD|date('Y-m-d') : ''}}
                                    </div>
                                    <div class="col-6">
                                        {{ d.dateHeureD ? d.dateHeureD|date('H:i') : ''  }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ d.animaux.sexe }}</td>
                            <td>{{ d.animaux.races }}</td>
                            <td><span class="badge
                                {% if d.etats.libelle == 'Recherche abondonnée' %}
                                    bg-danger
                                {% elseif d.etats.libelle == 'Recherche en cours' %}
                                    bg-primary
                                {% elseif d.etats.libelle == 'Archivée' %}
                                    bg-warning

                                {% elseif d.etats.libelle == 'Trouvé' %}
                                    bg-success

                                {% endif %}">{{ d.etats.libelle }}</span></td>

                            <td>
                                <a href="{{ path('user_show',{id:d.users.id}) }}">{{ d.users.pseudo }}</a>
                            </td>

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(annonces) }}


    </div>
</div>

    {% include 'annonce/forms/declarationEditAjaxModal.html.twig' %}

    {% endblock %}
    {% block extrajs %}
        <script>


            const getDeclarationForm = function () {
                fetch($(this).data('url'), {
                    method: 'POST',
                    body: JSON.stringify({'declaration_id': $(this).data('declaration_id')})
                })
                    .then(function (response) {
                        return response.text();
                    }).then(function (data) {
                    $('.modal-body').empty();
                    $('.modal-body').append(data);

                })

            }

            const init = function () {
                $('.declaration-ajax-edit').each(function (idx, button) {
                    $(this).on('click', getDeclarationForm);
                });
            }


            window.onload = init;

        </script>
    {% endblock %}
