{% extends 'base.html.twig' %}

{% block title %}Annonces de perte{% endblock %}

{% block body %}

    <p><small>
            <center>Vous avez perdu votre animal? fait vite une déclatation. si vous avez trouvé,
                aperçu un animal ? fait un signalement
            </center>
        </small></p>

    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
{#        <div class="col-3 my-5 bg-dark text-light p-4">#}

            <h3>Filter les declarations</h3>
            {{ form_start(formSearch) }}
            <div class="row">
                <div class="col-3">
                    {{ form_row(formSearch.secteurs) }}
                    {#                {{ form_row(formSearch.animaux) }}#}
                </div>
            </div>

            <div class="col-2 align-self-center">
                <button type="submit" class="btn btn-dark btn-lg">Rechercher</button>
            </div>
            {{ form_end(formSearch) }}
            <br>
{#        </div>#}
        </div>
    </div>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">

                {% for signalement in signalements %}
{#                    <div class="d-flex flex-row">#}
{#                        <div class="col-12">#}
                            <div class="card mb-1" style="max-width: 540px;">
{#                                <div class="row g-0">#}
{#                                    <div class="col-md-8">#}
                                        <div class="card-body">
                                            <p class="card-text"><small class="text-muted">
                                                    {{ signalement.auteur}}</small>
                                            </p>
                                            <p class="card-text"><small
                                                        class="text-muted"> Le
                                                    {{ signalement.dateHeure ? signalement.dateHeure|date('Y-m-d') : '' }}
                                                    A {{ signalement.dateHeure ? signalement.dateHeure|date('H:i') : '' }}</small>
                                            </p>
                                            <p class="card-text"><small class="text-muted">
                                                    {{ signalement.message}}</small>
                                            </p>

                                        </div>
{#                                    </div>#}
{#                                </div>#}
                            </div>
{#                        </div>#}
{#                    </div>#}

                {% endfor %}
            </div>

            <div class="col-9">

                {% for declaration in declarations %}
                <div class="row">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="{{ asset('img/logo.jpg') }}" class="img-fluid rounded-start"                            alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{ declaration.animaux.nom }}</h5>
                                <p class="card-text"><small
                                            class="text-muted">{{ declaration.animaux.races.especes }}
                                        perdu le
                                        {{ declaration.dateHeureD ? declaration.dateHeureD|date('Y-m-d') : '' }}
                                        A {{ declaration.dateHeureD ? declaration.dateHeureD|date('H:i') : '' }}</small>
                                </p>
                                <p class="card-text"><small class="text-muted">
                                        Nom  : {{ declaration.animaux.nom }}<br>
                                        Sexe : {{ declaration.animaux.sexe }}<br>
                                        Race : {{ declaration.animaux.races }}<br>
                                        Etat : {{ declaration.etats.libelle }}</small></p>
                                <a href="{{ path('app_declaration_show', {id: declaration.id}) }}"
                                   class="btn btn-primary">Show</a>
                                <a href="{{ path('app_declaration_edit', {id: declaration.id}) }}"
                                   class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>

                </div>
                {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}