{% extends '/base.html.twig' %}

{% block title %} MainController!{% endblock %}

{% block body %}
{#        {% include 'Modules/alert.html.twig' %}#}
    {% for message in app.flashes('success') %}
        <div class="position-fixed p-3" style="z-index: 1000; top: 80px;right: 50px">
            <div class="alert alert-success">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="position-fixed p-3" style="z-index: 1000; top: 80px;right: 50px">
            <div class="alert alert-warning">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="position-fixed p-3" style="z-index: 1000; top: 80px;right: 50px">
            <div class="alert alert-danger">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}

    <div class="row ">

        <div class="col-3 my-5 bg-dark text-light p-4">

            {{ form_start(formSearch) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(formSearch.secteurs) }}
                </div>
                <div class="col-6">
                    {{ form_row(formSearch.search) }}
                </div>

            </div>

            <div class="text-center">
                <button class="btn btn-primary">Rechercher</button>
            </div>
            {{ form_end(formSearch) }}
        </div>


        <div class="col-9 my-5">

            <table class="text-center table table-hover table-light table-striped align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Date de la disparition</th>
                    <th>Sexe</th>
                    <th>Race</th>
                    <th>Etat</th>
                    <th>Nom du proprietaire </th>
                </tr>
                </thead>
                <tbody>
                {% for d in declarations %}
                    {% if not ((d.etat.libelle == 'Créée')and(app.user != o.user)) %}

                        <tr style="height:70px  ">
                            <td><a href="{{ path('app_animal_show',{id:d.id}) }}">{{ d.animaux.nom }}</a></td>
                            <td>
                                <div class="row g-0">
                                    <div class="col-6">
                                        {{ d.dateHeureD ? declaration.dateHeureD|date('Y-m-d') : ''}}
                                    </div>
                                    <div class="col-6">
                                        {{ d.dateHeureD ? declaration.dateHeureD|date('H:i') : ''  }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ d..animaux.sexe }}</td>
                            <td>{{ d.animaux.races }}</td>
                            <td><span class="badge
                                {% if d.etats.libelle == 'Recherche abondonnée' %}
                                    bg-danger
                                {% elseif d.etats.libelle == 'Recherche en cours' %}
                                    bg-primary
                                {% elseif d.etats.libelle == 'Archivée' %}
                                    bg-warning

                                {% elseif d.etats.libelle == 'Trouvé' %}
                                    bg-success

                                {% endif %}">{{ d.etats.libelle }}</span></td>

                            <td>
                                <a href="{{ path('user_show',{id:d.users.id}) }}">{{ d.users.pseudo }}</a>
                            </td>

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
{#            {{ knp_pagination_render(annonces) }}#}
        </div>
    </div>
{% endblock %}
