{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animal.nom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ animal.sexe }}</td>
            </tr>
            <tr>
                <th>Castre</th>
                <td>{{ animal.castre }}</td>
            </tr>
            <tr>
                <th>PuceElectro</th>
                <td>{{ animal.puceElectro }}</td>
            </tr>
            <tr>
                <th>Tatouage</th>
                <td>{{ animal.tatouage }}</td>
            </tr>
            <tr>
                <th>Collier</th>
                <td>{{ animal.collier }}</td>
            </tr>
            <tr>
                <th>TypeCollier</th>
                <td>{{ animal.typeCollier }}</td>
            </tr>
            <tr>
                <th>Silhouette</th>
                <td>{{ animal.silhouettes }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ animal.tailles }}</td>
            </tr>
            <tr>
                <th>Poils</th>
                <td>{{ animal.poils }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ animal.age }}</td>
            </tr>
            <tr>
                <th>AnOuMois</th>
                <td>{{ animal.anOuMois }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ animal.photo }}</td>
            </tr>
            <tr>
                <th>Croisement</th>
                <td>{{ animal.croisements }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('main_home') }}">back to list</a>

    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
