{{ form_start(secteurForm, {'attr': {'id': 'secteurForm'}}) }}
{{ form_row(secteurForm.codePostal, {'attr': {'data-url': path('declaration_get_communes')}}) }}
{{ form_row(secteurForm.communes, {'attr': {'data-url': path('declaration_get_secteur')}}) }}
<div class="flex_div">
    {{ form_row(secteurForm.adresse) }}
    <button type="button" id="searchCoord" class="btn btn-info">Chercher</button>
</div>
{{ form_row(secteurForm.latitude) }}
{{ form_row(secteurForm.longitude) }}
{{ form_row(secteurForm.nom) }}
{{ form_end(secteurForm) }}