{% extends 'base.html.twig' %}

{% block title %}Signalement{% endblock %}

{% block body %}
    <h1>Signalement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signalement.id }}</td>
            </tr>
            <tr>
                <th>DateHeure</th>
                <td>{{ signalement.dateHeure ? signalement.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ signalement.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_signalement_index') }}">back to list</a>

    <a href="{{ path('app_signalement_edit', {'id': signalement.id}) }}">edit</a>

    {{ include('signalement/_delete_form.html.twig') }}
{% endblock %}
