{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}


{% block body %}

    <div class="row">
        <h2 class="text-center">Mon profil</h2>
        <div class=" col-10 offset-1">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3 p-3">
                        {% if user.photo %}
                            <img src="{{ asset('uploads/user_img/' ~  user.photo) }}" class="img-fluid rounded-start"
                                 alt="Photo profil de {{ user.pseudo }}">
                        {% else %}
                            <img src="{{ asset('img/defaut-profile.png')}} " class="img-fluid rounded-start"
                                 alt="Photo profil de {{ user.pseudo }}">
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title ps-3">{{ user.pseudo }}</h5>
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ form_row(form.pseudo) }}</li>
                                        <li class="list-group-item">{{ form_row(form.prenom) }}</li>
                                        <li class="list-group-item">{{ form_row(form.nom) }}</li>
                                        <li class="list-group-item">{{ form_row(form.photo) }}</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ form_row(form.telephone) }}</li>
                                        <li class="list-group-item">{{ form_row(form.email) }}</li>
                                        <li class="list-group-item">{{ form_row(form.password) }}</li>
                                    </ul>
                                    <div class="mt-3 text-center">
                                        <button class="btn btn-success btn-lg me-5">Enregistrer</button>
                                        <a href="{{ path('user_new') }}" class="btn btn-outline-secondary btn-lg">Retour</a>
                                    </div>

                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">

            </div>
        </div>
    </div>



{% endblock %}




















{#{% extends 'base.html.twig' %}#}

{#{% form_theme form "bootstrap_5_horizontal_layout.html.twig" %}#}
{#{% block title %}New User{% endblock %}#}

{#{% block body %}#}
{#    <h1>Ajouter un memebre</h1>#}

{#    {{ include('user/_form.html.twig') }}#}

{#    <a href="{{ path('user_index') }}">back to list</a>#}
{#{% endblock %}#}
